.con0 {
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0 2px 4px 0 rgba(104, 89, 89, 0.5);
    background-image: linear-gradient(to bottom, #636dcd, #3541e9 97%);
}

.con1 {
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0 2px 4px 0 rgba(104, 89, 89, 0.5);
    /*background-color: palegreen;*/
    border-right: 1px solid lightgray;

}

.con2 {
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0 2px 4px 0 rgba(104, 89, 89, 0.5);
    border-right: 1px solid lightgray;
}

.con3 {
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0 2px 4px 0 rgba(104, 89, 89, 0.5);
    /*background-color: lightcoral;*/
}

.Line-2 {
  width: 270px;
  height: 2px;
  margin: 3px 10px 15px 8px;
  border: solid 1px #000000;
}

.Oval0 {
  width: 12px;
  height: 12px;
  margin: 1px 43px 12px 0;
  background-color: #000000;
}

.Oval1 {
  width: 12px;
  height: 12px;
  margin: 65px 4px 13px 8.4px;
  background-color: #000000;
}

.cardh {
    height: 100vh;
}
